@import '../../styles/globalstyles.scss';

.trail{
    &-icon{
        min-width:44px;
        max-height:53px;
        max-width:72px;

        @include tablet{
            min-width:61px;
            max-height:72px;
            max-width:72px;
        } 
        &__modal{
            width: 100%;
            background-color: white;
            border-radius:20px;
            padding: 5%;
            box-sizing: border-box;
            position:absolute;
            top:50vw;
            z-index:5;
            &-top{
                @extend .trail-icon__modal; 
                @include tablet{
                    top:5%;
                    right:-65px;
                    margin-left:auto;
                    width:64%;
                }
                @include wide-screen{
                    top:5%;
                    right:-100px;
                    margin-left:auto;
                    width:64%;
                }
            }
            &-middle{
                @extend .trail-icon__modal;
                @include tablet{
                    width:50%;
                    top:250px;
                    left:0;
                }     
            }
            &-bottom{
                @extend .trail-icon__modal;
                top:-10vw;
                @include tablet{
                    margin-left:auto;
                    top:30%;
                    right:-20px;
                    width:60%;
                }
                @include desktop{
                    top:100px;
                    width:60%;
                }
                @include wide-screen{
                    top:30%;
                    right:-100px;
                    margin-left:auto;
                    width:64%;
                }    
            }
            &-experience{
                border-radius:20px;
                color:black;
                @include tablet{
                    // display:flex;
                }
                
                &__experience{
                    display:flex;
                    position:relative;
                    margin-bottom: 30px;
                    @include tablet{
                        // display:block;
                        width:100%;
                        margin-bottom:0;
                    }
                }
                &-content{
                    font-size:14px;
                    color:black;
                    @include tablet{
                        font-size:16px;
                    }
                    @include tablet{
                        font-size:18px;
                    }
                }
                &-lesson{
                    font-size:16px;
                    font-weight:bold;
                    color:#3fb0ac;
                    margin:7px 0;
                    @include tablet{
                        font-size:18px;
                    }
                    @include desktop{
                        font-size:20px;
                        margin-top:12px;
                    }                    
                }
                &__place{
                    width:35%;
                    margin-right:35px;
                    box-sizing:border-box;
                    @include tablet{
                        display:flex;
                        align-items:center;
                        width:47%;
                    }
                    @include desktop{
                        margin-right:0;
                    }
                    &-circle{
                        position:relative;
                        width:100px;
                        height:100px;
                        border-radius:50%;
                        border: 4px solid #3fb0ac;
                        box-shadow: 2px 11px 32px  black;
                        display:flex;
                        justify-content:center;
                        align-items:center;
                        background-color:white;

                        @include tablet{
                            margin: 20px 0 20px 20px;
                        }
                    }
                    &-img{
                        width:60px;
                    }
                    &-divider{
                        border-left:2px solid black;
                        width:10px;
                        height:20px;
                        margin-left:58%;
                        @include tablet{
                            display:none;
                            height:44px;
                            margin-left:0;
                            transform:rotate(90deg);
                        }
                    }
                }
                &__description{
                    margin-top:15px;
                    width:90%;
                    font-size:16px;
                    text-align:left;
                    @include tablet{
                        // margin-top:40px;
                        font-size:18px;
                    }
                    &-date{
                        font-weight:bold;
                        @include tablet{
                            // font-size:18px;
                        }                        
                    }
                    &-place{
                        color:#3fb0ac;
                        font-weight:bold;
                        @include desktop{
                            font-size:20px;
                        } 
                    }
                    &-position{
                        font-size:14px;
                        margin-bottom:5px;
                        @include desktop{
                            font-size:18px;
                        }                         
                    }
                }
            }
        }
    }

    &__div{
        position:absolute;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        &:hover{
            transform:scale(1.1);
            filter:grayscale(1);
        }

        &-head{
             @include buildTrailDiv(-2.5%, 5%, 0, 6%, 0, 0);
             z-index:1;
        }

        &-hiker{
            @include buildTrailDiv(9%, 29%, 9%, 29%, 9%, 29%);
            &:hover{
                filter:invert(90%) sepia(3%) saturate(22%) hue-rotate(322deg) brightness(85%) contrast(93%);
            }
        }
            
        &-detour{        
            @include buildTrailDiv(38%, 42%, 38%, 44%, 38%, 44%);
            &::before{
                left:62px;
                top:32px;

                display:none;
                content: attr(data-content);
                width:27px;
                height:14px;
                font-size: 10px;
                color: white;
                // border-radius:4px;
                background: black;
                opacity:1;
                z-index:1;
            }
            &:hover{
                filter:invert(90%) sepia(3%) saturate(22%) hue-rotate(322deg) brightness(85%) contrast(93%);
            }
        }
        
        &-db{
            // @include buildTrailDiv(61%, 10%, 60%, 5%);
            @include buildTrailDiv(61%, 10%, 60%, 10%, 60%, 6%);
            &::before{
                right:5px;
                top:70px;
            }
        }

        &-end{
            @include buildTrailDiv(82%, 39%, 82%, 39%, 82%, 39%);
            &::before{
                right:-84px;
                bottom:103px;
            }
             &:hover{
                filter:invert(90%) sepia(3%) saturate(22%) hue-rotate(322deg) brightness(85%) contrast(93%);
            }
        }

        &-dog{
            // @include buildTrailDiv(43%, 75%, 43%, 82%);
            @include buildTrailDiv(43%, 75%, 43%, 77%, 43%, 82%);
            &::before{
                left:24px;
                top:78px;
            }
        }
    }
}

.trail-title{
    padding-top:5px;
    width:96px;
    font-size:12px;
}