@import '../../styles/globalstyles.scss';

.trail{
    &-icon{
        min-width:44px;
        max-height:53px;
        max-width:72px;

        @include tablet{
            min-width:61px;
            max-height:72px;
            max-width:72px;
        } 


    }

    &__div{
        position:absolute;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;

        &::before{
            display:none;
            content: attr(data-content);
            width:270px;
            height:100px;
            font-size: 12px;
            padding: 1px 5px;
            color: black;
            // border-radius:4px;
            background: silver;
            opacity:0.75;
            z-index:1;
            bottom:0;
            left:0;
         }
        // only show the tool tip when you hover over the delete button
        &:hover::before {
            position:absolute;
            display: block;
        }

        &-head{
            @include buildTrailDiv(-3.5%, 5%, -3.5%, 5%);
        }

        &-hiker{
            @include buildTrailDiv(9%, 29%, 9%, 29%);
        }
            
        &-detour{        
            @include buildTrailDiv(38%, 42%, 38%, 42%);
            &::before{
                left:62px;
                top:32px;

                display:none;
                content: attr(data-content);
                width:27px;
                height:14px;
                font-size: 10px;
                color: white;
                // border-radius:4px;
                background: black;
                opacity:1;
                z-index:1;
            }
        }
        
        &-db{
            @include buildTrailDiv(61%, 10%, 61%, 10%);
            &::before{
                right:5px;
                top:70px;
            }
        }

        &-end{
            @include buildTrailDiv(82%, 39%, 82%, 39%);
            &::before{
                right:-84px;
                bottom:103px;
            }
        }

        &-dog{
            @include buildTrailDiv(43%, 75%, 43%, 75%);
            &::before{
                left:24px;
                top:78px;
            }
        }
    }
}

.trail-title{
    padding-top:5px;
    width:96px;
    font-size:12px;
}

