@import '../../styles/globalstyles.scss';

.about{
    font-family:"SourceSansPro";
    width:100%;
    height:89.5vh;
    background-size:cover;
    background-position:center;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    // justify-content:center;
    position:relative;
    margin-top:151px;
    // transition: all 2s ease-in;
 
    @include tablet{
        background-position:bottom;
    }

    @include desktop{
        height:100vh;
    }

    &__content{
        width:90%;
        align-self:center;

        @include desktop{
            width:65%;
        }
    }

    &__tagline{
        color:silver;
        text-align:center;
        margin-top:80px;
        margin-bottom:80px;
        padding:10px;
    }

    &__journey{
        color:silver;
        text-align:center;
        margin-top:50px;
        margin-bottom:157px;

        &:hover{
            color:white;
            font-style:italic;
        }
    }

    &__white-overlay{
        @extend .white-overlay;
    }

    &__full-text{
        @extend .full-text;
    }


    &__full-story{
        &-text{
            &-title{
                color:black;
            }
            &-main{
                font-family: "SourceSansPro";
                font-size:16px;
            }
        }
        &-up{
            width:40px;
            height:30px;
        }
    }
}

.transition1{
    background: linear-gradient(rgba(31, 24, 27,0), rgba(0,0,0,1));
    height:60vh;
    @include desktop{
        height:58vh;
    }
}