@import '../../styles/globalimports.scss';

.about{
    height:89.5vh;
    // padding-top:151px;
    background-size:cover;
    background-position:center;
    @include tablet{
        background-position:bottom;
    }
    @include desktop{
        height:100vh;
    }

    &__content{
        width:90%;
        align-self:center;
        height:100%;

        @include desktop{
            width:65%;
        }
    }

    &__tagline{
        color:silver;
        text-align:center;
        margin-top:80px;
        margin-bottom:80px;
        padding:10px;
    }

    &__journey{
        color:silver;
        text-align:center;
        margin-top:50px;
        margin-bottom:157px;

        &:hover{
            color:white;
            font-style:italic;
        }
    }
}

.transition1{
    background: linear-gradient(rgba(31, 24, 27,0), rgba(0,0,0,1));
    height:60vh;
    @include desktop{
        height:58vh;
    }
}