@import '../../styles/globalimports.scss';

.about__overlay{
    padding-top:20px;
    height:120vh;
    padding:20px 4% 0 4%;
    @include tablet{
        padding:20px 5% 0 5%;
    }

    @include desktop{
        padding:20px 10% 0 10%;
    }
    &-title{
        font-size:16px;
        margin-bottom:16px;
        white-space: nowrap;
        overflow: hidden;
        width:100%;
       
        @include tablet{
            font-size:20px;
            width:278px;
        }
    }

    &-text{
        font-size:14px;
        margin-bottom:25px;
        line-height:1.5;
        color:#242321;

        float:left;
        @include tablet{
            font-size:16px;
        }
        @include desktop{
            font-size:20px;
        }
        &--emphasize{
            font-weight:bold;
            color:#3fb0ac;
        }
    }
    &-who{

        @include tablet{}
            display:flex;
            flex-direction:column;
            align-items:center;

        &-image{
            margin-bottom:25px;
            @include tablet{
                width:60%;
            }
            @include desktop{
                width:50%;
            }
        }
    }
}



