@keyframes letterColor {
    0%  {color: #000000;}
    50% {color: #000000;}
    100% {color: white;}
}

@keyframes slide-down{
    0% {height:0}
    100% {height:86vh}
}

//experience overlay
@keyframes slide-in {
    0%{transform: translateX(-100%);}
    100% { transform: translateX(0%); }
}

@keyframes slide-up{
    0% {height:86vh}
    100% {height:0}
}

@keyframes text-off{
    0% {top:0; opacity:1}
    100% {top:-100vh; opacity:0}
}

@keyframes text-on{
    0% {opacity:0}
    10%{opacity:0}
    100% {opacity:1}
}

@keyframes logo-in{
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:0.5;}
}

@keyframes type{ 
  0% {width: 0; visibility:hidden;}
} 

@keyframes showArray {
    0% {visibility:hidden;}
    99% {visibility:hidden;}
    100% {visibility:visible;}
}

@keyframes colorWave {
    to {
      background-position: 200%;
    }
  }

@keyframes growIcon {
    0% {transform:rotate(360deg); left:0; width:25px; offset-distance:0%;}
    100% {left:500px; width:50px; offset-distance:100%}
}

@keyframes fadeBackground {
    0% {background-color:silver;}
    100% {background-color:transparent;}
}

@keyframes pulsate {
    0% {transform: scale(0.1, 0.1); opacity: 0;}
    50% {opacity: 1.0;}
    100% {transform: scale(1.2, 1.2); opacity: 0;}
}

@keyframes colorChange {
  from, to {
    color: silver;
  }
  50% {
    color: white;
  }
}

@keyframes moveHand{
    0% {offset-distance:0%;}
    100% {offset-distance:100%}
}

@keyframes dropButtons {
    0%  {bottom: 100%;}
}

@keyframes bounce {
  0%, 20%, 60%, 100% {transform: translateY(0);}
  40% {transform: translateY(-8px);}
  80% {transform: translateY(-5px);}
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@keyframes fade-in {
    0% {opacity: 0;}
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}