/*======================= Media Breakpoints ======================= */

// Changes to tablet format >=768px
@mixin tablet{
    @media (min-width:768px){
        @content;
    }
}

// Changes to desktop format >=1200px
@mixin desktop{
    @media (min-width:1200px){
        @content;
    }
}

@keyframes letterColor {
    0%  {color: #000000;}
    50% {color: #000000;}
    100% {color: white;}
}

@keyframes bodyColor {
    0%  {color: #000000;}
    60% {color: #000000;}
    100% {color: lightgray;}
}

@keyframes slide-down{
    0% {height:0}
    100% {height:86vh}
}

@keyframes slide-up{
    0% {height:86vh}
    100% {height:0}
}

@keyframes text-off{
    0% {top:0; opacity:1}
    100% {top:-100vh; opacity:0}
}

@keyframes text-on{
    0% {opacity:0}
    10%{opacity:0}
    100% {opacity:1}
}

@mixin buildTrailDiv($top-mobile, $left-mobile, $top-tablet, $left-tablet){
     position:absolute;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
       
        top:$top-mobile;
        left:$left-mobile;
        width:34%;
        height:15%;

        @include tablet{
            top:$top-tablet;
            left:$left-tablet;
            width:18%;
            height:18%;
        }
}
