/*======================= Media Breakpoints ======================= */

// Changes to tablet format >=768px
@mixin tablet{
    @media (min-width:768px){
        @content;
    }
}

// Changes to desktop format >=1200px
@mixin desktop{
    @media (min-width:1200px){
        @content;
    }
}

// Changes to desktop format >=1200px
@mixin wide-screen{
    @media (min-width:1700px){
        @content;
    }
}

@mixin buildTrailDiv($top-mobile, $left-mobile, $top-tablet, $left-tablet, $top-desktop, $left-desktop){
        // border:1px solid black;
        top:$top-mobile;
        left:$left-mobile;
        width:18%;
        height:18%;

        @include tablet{
            top:$top-tablet;
            left:$left-tablet;
            width:18%;
            height:18%;
        }
        @include desktop{
            top:$top-desktop;
            left:$left-desktop;

        }
}

@mixin buildSkillsIcon($top-mobile, $left-mobile, $top-tablet, $left-tablet, $top-wide, $left-wide){
        position:absolute;
     
        top:$top-mobile;
        left:$left-mobile;

        @include tablet{
            top:$top-tablet;
            left:$left-tablet;

        }
        @include wide-screen{
            top:$top-wide;
            left:$left-wide;

        }
}

@mixin rotateArrow($start-angle, $end-angle){
    @keyframes spinArrow {
        0% {transform: rotate($start-angle);}
        100% {transform: rotate($end-angle);}
    }

    animation:spinArrow 0.2s linear;
}

@mixin buildProjectButton(){
    
    visibility:hidden;
    background-color:black;
    border:3px solid silver;
    color:silver;
    padding:10px 20px;
    bottom:-100px;
    cursor:pointer;

    &:focus{
        outline:none;
    }
}



