/*======================= Media Breakpoints ======================= */

// Changes to tablet format >=768px
@mixin tablet{
    @media (min-width:768px){
        @content;
    }
}

// Changes to desktop format >=1200px
@mixin desktop{
    @media (min-width:1200px){
        @content;
    }
}

@mixin buildTrailDiv($top-mobile, $left-mobile, $top-tablet, $left-tablet){
        border:1px solid black;
        top:$top-mobile;
        left:$left-mobile;
        width:34%;
        height:15%;

        @include tablet{
            top:$top-tablet;
            left:$left-tablet;
            width:18%;
            height:18%;
        }
}

@mixin buildSkillsIcon($top-mobile, $left-mobile, $top-tablet, $left-tablet){
        position:absolute;
     
        top:$top-mobile;
        left:$left-mobile;

        @include tablet{
            top:$top-tablet;
            left:$left-tablet;

        }
}

