@font-face{
    font-family: "Montserrat";
    src:url("../../assets/fonts/Montserrat-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    font-family: "PinyonScript";
    src:url("../../assets/fonts/PinyonScript-Regular.ttf");
    font-weight: 100;
    font-style: normal;
}

