 @import '../../styles/globalimports.scss';


.education, .professional{
    padding:5% 5% 0 5%;
    box-sizing:border-box;
    width:100%;

    &__title{
        font-family:"Montserrat";
        font-size:18px;
        text-align:center;
        color:black;
        padding-bottom:10px;   
    }
    
    &__list{
        display:flex;
        flex-direction:column;
        text-align:center;
        width:100%;
        @include tablet{
            flex-direction:row;
            justify-content:space-around;
        }
        &-item{
            margin:10px 0;
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
            &--professional{
                @include tablet{
                    width:45%;
                }
                
            }
            @include tablet{
                width:32%;
            }
        }
        &-title{
            background-color:rgba(0,0,0,0.25);
            color:#d2c9c2;
            color:#3D4849;
            font-size:18px;
            font-weight:bold;
            padding:5px 0;
        }

        &__place{
            display:flex;
            align-items:center;
            padding:10px 0;
            // font-weight:bold;
           
            &-title{
                font-style:italic;
            }
            &-image{
                width:30px;
                height:30px;
                margin-right:5px;
            }
        }

        &-focus{
            text-align:left;
        }
        &-description{
            text-align:left;
            padding:5px 0;
            font-size:13px;
        }
    }
}
.emphasize{
    color:#3D4849;
    font-weight:bold;
}

