@import './globalimports.scss';

// Remove the default padding and margins from all elements on page
*{
	padding:0px;
	margin:0px;
	scroll-behavior: smooth;
}

// Remove the underlines from all links on page and base color of white
a{
	text-decoration:none;
	color:white;
}

//set the default font for anything in the body
body{
	font-family:"SourceSansPro", sans-serif;
	font-weight:400;
}

//Remove the bullet points from all list elements
ul{
	list-style-type:none;	
}

h1{
	font-family:"Montserrat", sans-serif;
	letter-spacing:1px;
	font-size:20px;
	text-align:center;
	color:#d2c9c2;
}

//Set defaults for text for all of the overlays
#about__full-text, #skills__full-text, #experience__full-text{
    box-sizing:border-box;
}

//Used to emphasize any important text
.emphasize{
    color:$text-accent;
    font-weight:bold;
}

//Applied to any element with a typing effect
.animate-type{
	//used for about overlay
    animation: type 1.5s 0.25s steps(60, end); 
    
	//these three are used for the skills overlay to offset timing
	&--first{
      visibility:visible;
      animation: type 0.6s 0.25s steps(60, end); 
    }
    &--second{
      visibility:visible;
      animation: showElement 1.4s linear, type 0.6s 1.3s steps(60, end); 
    }
    &--third{
      visibility:visible;
      animation: showElement 2.4s linear, type 0.6s 2.3s steps(60, end); 
    }
}

//Removes scrolling ability - video modal
.scroll-lock{
  	overflow:hidden;
}

//working on preview for dnd touch
.dnd{
	width:100px;
	height:100px;
}

//global styling for all 3 trail markers
.trail-marker{
    position:relative;
	display:flex;
	flex-direction: column;

    &__image{
        width:100px;
        cursor:pointer;
        transform:skewX(15deg);
        transform:skewY(15deg);

        animation:shake-marker 2s linear infinite;

        @include tablet{
			width:120px;
		}
		@include desktop{
        	width:160px;
        }
		@include wide-screen{
        	width:200px;
        }

    }
    &__text{
        cursor:pointer;
        text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
        color:black;
        opacity: 0.6;
        font: 18px 'Museo700';
        position:absolute;
        transform:skewX(15deg);
        transform:skewY(15deg);
        animation:shake-marker 2s linear infinite;

        @include tablet{
            font-size:20px;
        }

        @include desktop{
            font-size:25px;
        }

        @include wide-screen{
            font-size:30px;
        }

        &:hover{
            color:white;
            font-style:italic;
        }

        &--top{
            @extend .trail-marker__text;
            top:16px;
            left:23px;
			
			@include tablet{
				top:20px;
				left:32px;
			}
			
            @include desktop{
                top:28px;
                left:44px;
            }

            @include wide-screen{
                top:36px;
                left:58px;
            }
            
        }
        &--bottom{
            @extend .trail-marker__text;
            top:40px;
            left:30px;
 
			@include tablet{
				top:49px;
				left:38px;
			}

			@include desktop{
                top:67px;
                left:53px;
            }
            
            @include wide-screen{
                top:85px;
                left:67px;
            }
        }
    }
    &__base{
		height:8px;
		width:10vw;
		box-shadow: 0px 2px 20px $text-accent;
		border-radius: 50%;
        transform:skew(10deg);
		margin-left:33px;

		@include tablet{
			height:10px;
			width:6vw;
			margin-left:40px;
		}

		@include desktop{
			width:4vw;
			margin-left:55px;
		}

		@include wide-screen{
			margin-left:72px;
			width:3.5vw;
		}
    }
}

//global styling for all 3 overlays
.white-overlay{
    position:absolute;
    //set to skills background color - skills is only section without a background image - will default to this color
    background-color:#1e1e1e; 
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-size:cover;
    width:0;
    min-height:100vh;
    z-index:100;

    transition: 0.2s ease;
    @include desktop{
        transition: 0.5s ease;
    }

      
    &--on{
		@extend .white-overlay;
        width:100%;
        overflow:auto;
        transition: 0.2s ease;
        @include desktop{
            transition: 0.5s ease;
        }
    }
    
}

.open-close-overlay{
    position:absolute;
    top:45%;
    left:-25px;
    z-index:10;
    border-top-right-radius:100%;
    border-bottom-right-radius:100%;
    background-color:rgba(250,250,250,0.3);
    height:50px;
    width:50px;
    display:flex;
    justify-content: center;
    align-items: center;

    @include desktop{
        left:-50px;
        height:100px;
        width:100px;
    }
    
    &-icon{
        margin-left:22px;
        width:20px;
        height:20px;
        cursor:pointer;
        transform:rotate(270deg);
        @include desktop{
            width:30px;
            height:30px;
            margin-left:40px;
        }
    }
    &:hover{
        transition: all 0.5s;
        background-color:rgba(250,250,250,0.5);
        transform:scale(1.2);
    }
}

