@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";


*{
    padding:0px;
    margin:0px;
  }

  a{
      text-decoration:none;
  }

  body{
      font-family: "Montserrat";
      font-weight:400;
  }

  ul{
      list-style-type:none;
  }