@import '../../styles/globalstyles.scss';

.skills{
    &__icon{
        width:30%;
        height:auto;
        max-height:121px;
        max-width:90px;
        cursor:grab;
        
        @include tablet{
            width:20%;
            max-height:200px;
            max-width:120px;
        }
    }
    
    &__html-css{
        @include buildSkillsIcon(37%, 72%, 33%, 79%, 39%, 75%);
    }

    &__js{
        @include buildSkillsIcon(38%, 10%, 22%, 66%, 26%, 66%);
        width:20%;
        @include tablet{
            width:10%;
        }
        @include desktop{
            width:8%;
        }
        @include wide-screen{
            width:5%;
        }
    }
        
    &__node{        
        @include buildSkillsIcon(615px, 10%, 40%, 14%, 37%, 16%);
        
    }
    
    &__react{
        @include buildSkillsIcon(290px, 42%, 23%, 29%, 28%, 37%);
        width:20%;
        @include tablet{
            width:10%;
        }
        @include desktop{
            width:8%;
        }
         @include wide-screen{
            width:6%;
        }
    }

    &__sass{
        // @include buildSkillsIcon(44%, 67%, 52%, 73%);
        @include buildSkillsIcon(52%, 67%, 52%, 73%, 52%, 63%);
    }

    &__databases{
        @include buildSkillsIcon(57%, 3%, 57%, 8%, 66%, 21%);
    }

    &__axios{
        @include buildSkillsIcon(637px, 61%, 752px, 78%, 68%, 72%);//71%
    }
    
    &__git{
        @include buildSkillsIcon(63%, 78%, 775px, 36%, 49%, 29%); //72
        width:25%;
        @include tablet{
            width:12%;
        }
    }
}

// .animate-skill{
//     animation:moveHand 2s 5s linear;
//     offset-path: path('M0,0 C100, 0 50, 70 300, 20');
// }