@import '../../styles/globalstyles.scss';

.skills{
    &__icon{
        width:30%;
        height:auto;
        max-height:121px;
        max-width:90px;
        cursor:grab;
        
        @include tablet{
            width:20%;
            max-height:200px;
            max-width:120px;
        }
    }
    
    &__html-css{
        @include buildSkillsIcon(25%, 63%, 33%, 79%);
    }

    &__js{
        @include buildSkillsIcon(30%, 10%, 22%, 66%);
        width:20%;
        @include tablet{
            width:10%;
        }
        @include desktop{
            width:8%;
        }
    }
        
    &__node{        
        @include buildSkillsIcon(85%, 10%, 40%, 14%);
        
    }
    
    &__react{
        @include buildSkillsIcon(35%, 42%, 23%, 29%);
        width:20%;
        @include tablet{
            width:10%;
        }
        @include desktop{
            width:8%;
            top:25%;
            left:33%;
        }
    }

    &__sass{
        @include buildSkillsIcon(44%, 67%, 52%, 73%);
    }

    &__databases{
        @include buildSkillsIcon(47%, 6%, 57%, 8%);
    }

    &__axios{
        @include buildSkillsIcon(88%, 61%, 71%, 78%);
    }
    
    &__git{
        @include buildSkillsIcon(58%, 78%, 72%, 36%);
        width:25%;
        @include tablet{
            width:12%;
        }
        @include desktop{
            top:49%;
            left:29%;
        }
    }
}