@import '../../styles/globalimports.scss';

.contact{
    height:86vh;
    background-color:black;
    color:white;

    @include tablet{
        height:88.5vh;
        align-items:center;
    }

    @include desktop{
        height:89.5vh;
    }

        &__content{
            padding:0 5%;
            text-align:center;
        

        &-quote{
            font-family:"Montserrat";
            margin:40px 0 20px 0;
            color:silver;
            font-size:20px;
        }

        &-author{
            color:grey;
            text-align:right;
            margin-bottom:40px;
            width:100%;
        }

        &-cta{
            font-size:27px;
            color:#d2c9c2;
        }
    }
}

