@import '../../styles/globalimports.scss';

.contact{
    // height:86vh;
    background-color:black;
    color:white;
    background-size:cover;
    background-position:bottom right;
    // padding-bottom:30vw;

    @include tablet{
        // height:88.5vh;
        align-items:center;
    }

    @include desktop{
        // height:89.5vh;
    }

        &__content{
            padding:0 5%;
            text-align:center;
        

        &-quote{
            font-family:"Montserrat";
            margin:10px 0;
            color:silver;
            font-size:16px;
            text-align: center;

            @include colorWaveAnimation(5s);
            
            @include tablet{
                margin-top:40px 0;
                font-size:23px;
                line-height:1.5;
            }
            @include desktop{
                font-size:28px;
            }
        }

        &-author{
            color:grey;
            text-align:right;
            margin-bottom:13px;
            width:100%;
            @include tablet{
                margin-bottom:40px;
                font-size:20px;
            }
        }

        &-cta{
            font-size:27px;
            
            @include tablet{
                font-size:40px;
            }
        }
    }
}



