@import '../../styles/globalimports.scss';

main{
	height:100%;
}
.main__contacts{
    position:fixed;
    padding: 8px;
    background-color:silver;
    opacity:0.5;
	bottom: 0;
	right:0;

    width:37px;
    z-index:20;
    box-sizing:border-box;

    &--bottom{
		display:none;
      	background-color:transparent;
    }

	@include tablet{
        padding: 10px;
        width:50px;
    }

    @include desktop{
        width:60px;
    }
    
    &-icon{
        &:hover{
        	animation: bounce 1s; 
        }

    }
}

