@import '../../styles/globalstyles.scss';

img{
    width:100%;
  }
  
.intro{
    position:relative;
    display:flex;
    justify-content:center;
  
  }

.logo{
    position:absolute;
    z-index:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:100px;
    color:white;
    font-family: "Montserrat";
    width:100%;

    @include tablet{
        margin-top:95px;
    }

    &-text{
        color:white;
        animation: letterColor 6s ease-in;
    }

    &__name{
        letter-spacing:5px;
        font-size:24px;
        box-sizing: border-box;
        text-align:center;
        width:100%;
        font-weight:bold;

        @include tablet{
            font-size:32px;
        }
    }

    &__title{
        font-size:18px;
        letter-spacing: 3px;
        text-align:center;
        animation: letterColor 7s ease-in;

        @include tablet{
            font-size:20px;
        }

    }
    &__filter{
        position:absolute;
        animation:logo-in 7s ease-in;
        top:-60px; 
        z-index:-1;
        opacity:0.5;
        width:79%;

        @include tablet{
            width:44vw;
            max-width:337px;
            max-height:146px;
            top:-72px;
        }
    } 
}

.enter{
    position:absolute;
    text-align:center;
    padding-top:100px;
    box-sizing:border-box;
    width:200px;
    height:200px;
    color:black;
    font-size:24px;
    top:43%;
    left:43%;
    opacity:0;
    z-index:3;

    @include tablet{
        top:32%;
        left:36.5%;
    }
    
    @include tablet{
        left:44.5%;
    }

    &:hover{
        animation:text-on 0.5s ease-in;
        opacity:1;
    }
}

.video{
    object-fit:cover;
    width:100%;
    height:100vh;
    &__link{
        width:100vw;
    }
  }

// .video-filter{
//         position:absolute;
//         background-color:black;
//         width:100%;
//         height:100vh;
//         animation:text-on 6s ease-in;
//         z-index:0;
//     }