@import '../../styles/globalstyles.scss';

.projects{
    height:100vh;
    background-color:black;
 
    @include tablet{
        height:88.5vh;
    }

    @include desktop{
        height:89.5vh;
    }

    &__mountain{
        position:absolute;
        bottom:0;
        width:100%;
        left:10%;
        min-width:480px;
        // max-width:480px;
        min-height:289px;
        // max-height:289px;

        @include tablet{
            left:51%;
            width:75%;
        }

        @include desktop{
            left:60%;
            width:50%;
        }
    }
    
    &__content{
        display:flex;
        flex-direction:column;
    }
}

.transition4{
    position:absolute;
    width:100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,1));
    height:49vw;
    z-index:5;
    bottom:0;
    
}

.project{
    margin:10px auto;    
    width:80%;
    height:200px;
    background-color:silver;
    opacity:0.75;
}