@import '../../styles/globalstyles.scss';
.skills{
    height:86vh;
    background: rgb(0,0,0);

    @include tablet{
        height:100vh;
        align-items:center;
    }

    @include desktop{
        height:89.5vh;
    }

    &__pack{
        align-self:flex-start;
        width:200px;
        display:flex;
        flex-direction:column;
        align-items:flex-end;
        position:relative;
    }

    &__main{
        display:flex;
        flex-direction:column;
        margin-top:209px;
        margin-right:40px;
        justify-content:center;
        align-items:center;

        @include tablet{
            margin-top:48px;
            width:100%;
        }
    }

    &__unpacked{
        width:50%;
        text-align:center;
        color:white;
        margin-left:58px;
        align-self:flex-start;
    }

    &__packed{
        width:50%;
        text-align:center;
        color:white;
        font-size:32px;
        margin-left:58px;
        margin-bottom:12px;
        animation:text-on 1s ease-in;
    }

    &__hand{
        width:40px;
        height:30px;
        position:absolute;
        top:23px;
        left:138px;
    }
}

