 @import '../../styles/globalimports.scss';

.white-overlay{
    position:absolute;
    display:block;
    top:0;
    left:0;
    width: 100%; 
    background-color:white;   
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-size:cover;
    position:bottom right;

    &--skills{
        background-color:#1e1e1e;
    }
        
    &--on{
        height:100%;
        animation: slide-down 0.5s ease-in;
    }
    &--off{
        height:0;
        animation: slide-up 0.5s ease-out;
    }
}

.full-text{
    position:absolute;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    z-index:-5;
    padding:16px;
    top:-600vh;
    width:100%;
    height:100%;
    box-sizing:border-box;

    &--on{
        top:0;
        height:90%;
        z-index:1;
        animation: text-on 0.5s ease-in;
    }

    &--off{
        top:-600vh;
        left:0;
        height:0;
        z-index:1;
        animation: text-off 0.75s ease-out;
    }
    &__title{
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-top:187px;
        &-text{
            color:#3fb0ac;
        }
    }
}


.overlay-arrow{
    &-wrapper{
        position:relative;
        margin-top:30px;
        cursor:pointer;
        z-index:2;
        border:none;
        &:focus{
            outline:none;
            // @include rotateArrow(0, -180deg);
        }
        
    }
    width: 15px;
    height: 15px;
    top: 50%;
    margin: -20px 0 0 -20px;
    transform: rotate(225deg);
    border-left: none;
    border-top: none;
    border-right: 2px black solid;
    border-bottom: 2px black solid;

    &:before{
        content: '';
        width: 10px;
        height: 10px;
        top: 50%;
        margin: -10px 0 0 -10px;
        border-left: none;
        border-top: none;
        border-right: 1px black solid;
        border-bottom: 1px black solid;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: arrow;
        position:absolute;
        left:50%;
    }

    //rotate the arrow for the skills section
    &-skills{
        border-right: 2px white solid;
        border-bottom: 2px white solid;
    }
    &:before{
        border-right: 2px white solid;
        border-bottom: 2px white solid;
    }
}