 @import '../../styles/globalimports.scss';

.full-text{
    // position:absolute;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    z-index:-5;
    padding:16px;

    box-sizing:border-box;

    &--on{

        z-index:1;
        animation: text-on 0.5s ease-in;
    }

    &--off{
        animation: text-off 0.75s ease-out;
    }
    &__close{
        position:absolute;
        filter:$accent-filter;
        top:0;
        right:0;
        width:25px;
        height:25px;
        z-index:10;
        padding:10px;
        cursor:pointer;
        &:hover{
            transform:rotate(90deg);
        }
    }
}



// .overlay-arrow{

//     &-wrapper{

//         position:absolute;
//         margin-top:50px;
//         cursor:pointer;
//         top:0;
//         right:0;
//         width:25px;
//         height:25px;
//         z-index:10;
//         border:none;
//         &:focus{
//             outline:none;
//         }
        
//     }
//     width: 15px;
//     height: 15px;
//     top: 50%;
//     margin: -20px 0 0 -20px;
//     transform: rotate(225deg);
//     border-left: none;
//     border-bottom: none;
//     border-right: 2px black solid;
//     border-top: 2px black solid;

//     &:before{
//         content: '';
//         width: 10px;
//         height: 10px;
//         top: 50%;
//         margin: 0px -10px 0px -10px;
//         border-left: none;
//         border-bottom: none;
//         border-right: 1px $text-accent solid;
//         border-top: 1px $text-accent solid;
//         animation: arrow 2s infinite;
//         position:absolute;
//         left:50%;
//     }


//     &-skills{
//         border-right: 2px white solid;
//         border-bottom: 2px white solid;
    
//         &:before{
//             border-right: 2px $text-accent solid;
//             border-bottom: 2px $text-accent solid;
//         }
//     }
// }