 @import '../../styles/globalimports.scss';

.full-text{
    // position:absolute;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    z-index:-5;
    padding:16px;

    box-sizing:border-box;

    &--on{

        z-index:1;
        animation: text-on 0.5s ease-in;
    }

    &--off{
        animation: text-off 0.75s ease-out;
    }
    &__close{
        position:absolute;
        top:0;
        right:0;
        width:25px;
        height:25px;
        z-index:10;
        padding:10px;
        cursor:pointer;
    }
}



.overlay-arrow{
    &-wrapper{
        position:relative;
        margin-top:30px;
        cursor:pointer;
        z-index:2;
        border:none;
        &:focus{
            outline:none;
        }
        
    }
    width: 15px;
    height: 15px;
    top: 50%;
    margin: -20px 0 0 -20px;
    transform: rotate(225deg);
    border-left: none;
    border-bottom: none;
    border-right: 2px black solid;
    border-top: 2px black solid;

    &:before{
        content: '';
        width: 10px;
        height: 10px;
        top: 50%;
        margin: -10px 0 0 -10px;
        border-left: none;
        border-bottom: none;
        border-right: 1px black solid;
        border-top: 2px black solid;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-name: arrow;
        position:absolute;
        left:50%;
    }


    &-skills{
        border-right: 2px white solid;
        border-bottom: 2px white solid;
    
        &:before{
            border-right: 2px white solid;
            border-bottom: 2px white solid;
        }
    }
}